@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
p {
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

#background {
  height: 100vh;
  width: 100vw;
  background: no-repeat fixed center;
  background-size: cover;
  background-clip: content-box;
  position: relative;
}

#background-info {
  max-width: 25%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  cursor: pointer;
  align-items: center;
}

#background-info p {
  margin: 0 0 0 5px;
}

#weather {
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}

#weather > div {
  float: right;
}

#city {
  font-size: 16px;
}

#temperature {
  margin-bottom: 0px;
  cursor: pointer;
}

#weather-icon {
  height: 25px;
}

#quote {
  position: absolute;
  bottom: 5px;
  left: 50%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: translateX(-50%);
  cursor: pointer;
}

#quote-author {
  display: none;
}

#todo-list-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  max-width: 25%;
}

#todo-list {
  display: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#todos {
  color: white;
  list-style: none;
  padding: 0 5px;
}

#todo-button {
  cursor: pointer;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 0;
}

#todo-counter {
  color: white;
}

.todo-delete-button {
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.todo > div {
  display: flex;
  align-items: center;
}

.todo input {
  margin: auto 5px auto 0;
}

#add-todo-form {
  margin-bottom: 0;
  color: white;
}

#add-todo-form input {
  margin: auto 5px auto 0;
  width: 100%;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

label {
  max-width: 90%;
  margin: 0;
}

#clock {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#clock-text {
  font-size: 10em;
  cursor: pointer;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

#greeting-text {
  font-size: 4em;
  padding-right: 10px;
  margin: 0;
}

#clock form {
  margin-bottom: 0;
}

#user-name {
  background: none;
  border: none;
}

#user-name::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#user-name-span, #user-name {
  padding: 0;
  white-space: pre;
  font-size: 4em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#user-name-span {
  display: none;
}

@media (max-width: 900px) {
  p {
    font-size: 28px;
  }
}
