@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

$text-black-outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

// BACKGROUND
body
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.8)

#background
	height: 100vh;
	width: 100vw;
	background: no-repeat fixed center;
	background-size: cover;
	background-clip: content-box;
	position: relative;

#background-info
	position: absolute;
	bottom: 5px;
	left: 5px;
	display: flex;
	color: white;
	text-shadow: $text-black-outline;
	cursor: pointer;
	align-items: center;

#background-info p
	margin: 0 0 0 5px;

// WEATHER
#weather
	position: absolute;
	top: 5px;
	right: 5px;
	text-shadow: $text-black-outline;
	color: white;

#weather > div
	float: right;

#city
	font-size: 10px;

#temperature
	font-size: 16px;
	margin-bottom: 0px;
	cursor: pointer;

#weather-icon
	height: 25px;

// QUOTE
#quote
	position: absolute;
	bottom: 5px;
	left: 50%;
	color: white;
	text-shadow: $text-black-outline;
	font-size: 18px;
	transform: translateX(-50%);
	cursor: pointer;

#quote-author
	display: none;

// TODO-LIST
#todo-list-container
	position: absolute;
	bottom: 5px;
	right: 5px;
	max-width: 25%;

#todo-list
	display: none;
	padding: 5px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;

#todos
	color: white;
	list-style: none;
	padding: 0 5px;

#todo-button
	cursor: pointer;
	font-size: 18px;
	color: white;
	text-shadow: $text-black-outline;
	margin-bottom: 0;

#todo-counter
	color: white;

.todo-delete-button
	cursor: pointer;

.todo
	display: flex;
	justify-content: space-between;
	align-items: center;

.todo > div
	display: flex;
	align-items: center;

#add-todo-form
	margin-bottom: 0;
	color: white;

#add-todo-form input
	margin: auto 5px auto 0;
	width: 100%;
	background: none;
	border-top: none;
	border-right: none;
	border-left: none;

label
	max-width: 90%;
	margin: 0;

// CLOCK
#clock
	color: white;
	text-shadow: $text-black-outline;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

#clock-text
	font-size: 10em;
	cursor: pointer;

#greeting
	display: flex;
	justify-content: center;
	align-items: center;

#greeting-text
	font-size: 4em;
	padding-right: 10px;
	margin: 0;

#clock form
	margin-bottom: 0;

#user-name
	background: none;
	border: none;

#user-name::placeholder
	color: rgba(255, 255, 255, 0.7);
	text-shadow: $text-black-outline;

#user-name-span, #user-name
	padding: 0;
	white-space: pre;
	font-size: 4em;
	text-shadow: $text-black-outline;